<a href="https://colab.research.google.com/github/kaynatmozammil/Data-Science-/blob/main/02_task_session_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here

ctc = float(input("Enter CTC salary in lakh :"))
if ctc<500000:
  total_deduction = ctc*0.1+ctc*0.05+ctc*0.03+ctc*0
  monthly_salary=(ctc-total_deduction)/12
  print("Monthly salary =",monthly_salary)
elif 500000<=ctc<1000000:
  total_deduction = ctc*0.1+ctc*0.05+ctc*0.03+ctc*0.1
  monthly_salary=(ctc-total_deduction)/12
  print("Monthly salary =",monthly_salary)
elif 1000000<=ctc<2000000:
  total_deduction = ctc*0.1+ctc*0.05+ctc*0.03+ctc*0.2
  monthly_salary=(ctc-total_deduction)/12
  print("Monthly salary =",monthly_salary)
elif ctc>2000000:
  total_deduction = ctc*0.1+ctc*0.05+ctc*0.03+ctc*0.3
  monthly_salary=(ctc-total_deduction)/12
  print("Monthly salary =",monthly_salary)

Enter CTC salary in lakh :1200000
Monthly salary = 62000.0

In [ ]:
def calculate_monthly_salary(ctc):
    # Deductions
    hra_deduction = 0.1 * ctc
    da_deduction = 0.05 * ctc
    pf_deduction = 0.03 * ctc

    # Tax deduction based on salary range
    if ctc < 5:
        tax_deduction = 0
    elif 5 <= ctc < 10:
        tax_deduction = 0.1 * ctc
    elif 10 <= ctc < 20:
        tax_deduction = 0.2 * ctc
    else:
        tax_deduction = 0.3 * ctc

    # Total deductions
    total_deduction = hra_deduction + da_deduction + pf_deduction + tax_deduction

    # Monthly salary after deductions
    monthly_salary = (ctc - total_deduction) / 12

    return monthly_salary

# Input CTC in Lakhs
ctc = float(input("Enter your CTC (in Lakhs): "))
monthly_salary = calculate_monthly_salary(ctc * 100000)  # Convert Lakhs to Rupees
print("Your monthly salary after deductions is: Rs", round(monthly_salary, 2))

Enter your CTC (in Lakhs): 5
Your monthly salary after deductions is: Rs 21666.67

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here
x = float(input("Enter 1st angle "))
y = float(input("Enter 2nd angle "))
z = float(input("Enter 3rd angle "))

sum = x+y+z

if sum == 180 and x>0 and y>0 and z>0:
  print("It is  a Triangle ")
else:
  print("Not a Triangle ")

Enter 1st angle 0
Enter 2nd angle 12
Enter 3rd angle 90
Not a Triangle

In [ ]:
def is_triangle(angle1, angle2, angle3):
    # Check if the sum of any two angles is greater than the third angle
    if angle1 + angle2 + angle3 == 180 and angle1 > 0 and angle2 > 0 and angle3 > 0:
        return True
    else:
        return False

# Input three angles from the user
angle1 = int(input("Enter the first angle: "))
angle2 = int(input("Enter the second angle: "))
angle3 = int(input("Enter the third angle: "))

# Check if the angles can form a triangle
if is_triangle(angle1, angle2, angle3):
    print("Yes, the angles can form a triangle.")
else:
    print("No, the angles cannot form a triangle.")

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
cp = float(input("Enter cost price"))
sp = float(input("Enter selling price"))

if sp>cp:
  print('Profit')
elif cp>sp:
  print('loss')
else:
  print('neither profit nor loss')

Enter cost price23
Enter selling price23
neither profit nor loss

In [ ]:
def calculate_profit_or_loss(cost_price, selling_price):
    if selling_price > cost_price:
        profit = selling_price - cost_price
        return f"Profit of ${profit:.2f}"
    elif selling_price < cost_price:
        loss = cost_price - selling_price
        return f"Loss of ${loss:.2f}"
    else:
        return "No profit, no loss"

def main():
    try:
        cost_price = float(input("Enter the cost price: "))
        selling_price = float(input("Enter the selling price: "))
        result = calculate_profit_or_loss(cost_price, selling_price)
        print(result)
    except ValueError:
        print("Please enter valid numbers for cost price and selling price.")

# if __name__ == "__main__":
#     main()

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here
def cm_to_fit(cm):
  return cm*0.0328084
def km_to_miles(km):
  return km*0.621371
def USD_to_INR(USD):
  return USD*83.71;

while True:
  print('1 for Cm to Fit')
  print('2 for Km to miles')
  print('3 for USD to IND')
  print('4 for Exit')

  choice = input("Enetr Choice what do you want to do")

  if choice=='1':
    cm = float(input("Enetr value of cm"))
    result = cm_to_fit(cm)
    print(result)
  elif choice=='2':
    km = float(input("Enetr value of km"))
    result = km_to_miles(km)
    print(result)
  elif choice=='3':
    usd = float(input("Enetr value of usd"))
    result = USD_to_INR(usd)
    print(result)
  elif choice=='4':
    print("Exit the program")
    break
  else:
    print("Invalid chice please enter valid choice")

1 for Cm to Fit
2 for Km to miles
3 for USD to IND
4 for Exit
Enetr Choice what do you want to do4
Exit the program

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code her
n = 10
t1 = 0
t2 = 1
print(t1, end=',')
print(t2 , end=',')
i=0
for i in range(n-2):
  t1,t2 = t2 , t1+t2
  print(t2,end=',')

0,1,1,2,3,5,8,13,21,34,

In [ ]:
def fibonacci(n):
    fib_series = []
    print(type(fib_series))
    a, b = 0, 1
    for _ in range(n):
        fib_series.append(a)
        a, b = b, a + b
    return fib_series

def main():
    n = 10
    fib_series = fibonacci(n)
    print("Fibonacci series up to 10 terms:")
    print(fib_series)

if __name__ == "__main__":
    main()

<class 'list'>
Fibonacci series up to 10 terms:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result

# Example usage:
number = int(input("Enter a number for find fact"))
print("The factorial of", number, "is", factorial(number))

Enter a number for find fact6
The factorial of 6 is 720

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
def reverse_integer(number):
    reversed_number = 0
    is_negative = False

    # Check if the number is negative
    if number < 0:
        is_negative = True
        number = abs(number)

    # Reverse the number
    while number != 0:
        digit = number % 10
        reversed_number = reversed_number * 10 + digit
        number = number // 10

    # Add back the negative sign if the original number was negative
    if is_negative:
        reversed_number *= -1

    return reversed_number

# Example usage:
number = -12345
print("Original number:", number)
print("Reversed number:", reverse_integer(number))

Original number: -12345
Reversed number: -54321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here
n = int(input("Enter the number"))
sum = 0
for i in range(1,n+1):
  if i%5 ==0:
    continue
  sum += i
  if sum>300  :
    sum -=i
    break
print(sum)

In [ ]:
n = int(input("Enter the number"))
sum = 0
i =1
while i<n+1:

  if i%5 ==0:

    continue
  sum += i
  if sum>300  :
    sum -=i
    break
  i += 1
print(sum)

Enter the number30

KeyboardInterrupt:

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here
sum = 0
count =0
while True:
  num = int(input('Enter number'))
  if num == 0:
    break
  sum += num
  count+=1

print('Sum ',sum)
print('avg',sum/count)

Sum  12
avg 6.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here