<a href="https://colab.research.google.com/github/kaynatmozammil/Data-Science-/blob/main/05_session_tuple_sets_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Create tuple
#empty
t1=()
print(t1)
#how to create a tuple with a single item
t2=(2,)
print(type(t2))
#homogenous
t3=(1,2,3,4,5)
print(t3)
#Hetrogenous
t4 =(1,2,3,4,True,[1,2,3])
print(t4)
#2D tuple
t5=(1,2,3,(4,5))
print(t5)
#using typle conversion
t6=tuple ('hello')
print(t6)
t7= (1,2)
print(t7)

()
<class 'tuple'>
(1, 2, 3, 4, 5)
(1, 2, 3, 4, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')
(1, 2)

In [ ]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [ ]:
print(t3[::-1])

(4, 3, 2, 1)

In [ ]:
t5
print(t5[-1][-2])

4

In [ ]:
print(t3)
t3[0]=100
#immutable just like strings

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(t3)
#not poassible

(1, 2, 3, 4, 5)

In [ ]:
print(t3)
del t3
print(t3)

(1, 2, 3, 4, 5)

NameError: name 't3' is not defined

In [ ]:
t=(1,2,3,4,5)
t[-1:-4:2]

()

#Sets

In [ ]:
s={1,2,3,'hello',4.5,(454,43),True,7.4}
print(s)

s2=set([1,2,3])
print(s2)

#set can't have mutable item
s3={1,2,3,[3,4]}

{1, 2, 3, 4.5, 'hello', (454, 43), 7.4}
{1, 2, 3}

TypeError: unhashable type: 'list'

#Adding Items

In [ ]:
s={1,2,3,4}
#add
#s.add(5);
#print(s)
#Update
s.update([8,6,5])
print(s)

{1, 2, 3, 4, 5, 6, 8}

# Deleting Item

In [ ]:
#Del key
s={1,2,3,4,5}
# print(s)
# del s
# print(s)

#discard
# s.discard(5)
# print(s)
#remove
# s.remove(6)
# print(s)

#pop
# s.pop()
# s.pop()
# print(s)
# #Clear
# s.clear()
# print(s)

{3, 4, 5}
set()

# Set Operation

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
#Union(|)
s1 | s2
#Intersection(&)
s1 & s2
#Difference(-)
s1-s2
s2-s1
#Symetric difference(^)
s1^s2

# #Membership Test
# 1 in s1
# 1 not in s1
# #Iteration
# for i in s1:
#   print(i)

{1, 2, 3, 6, 7, 8}

#Set functions

In [ ]:
#len/min/max/sorted
s={3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

In [ ]:
#union / update function
s1={1,2,3,4,5}
s2={4,5,6,7,8}
#s1|s2
s1.union(s2)
print(s1)
print(s2)
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5}

In [ ]:
#Intersection / intersection_update
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s1.intersection(s2)
print(s1.intersection_update(s2))
print(s1)
print(s2)

None
{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
#Diffrence/ difference_update

s1={1,2,3,4,5}
s2={4,5,6,7,8}

s1.difference(s2)
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [ ]:
#Symetric_difference/ symetric_difference_update
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s1.symmetric_difference(s2)
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

None
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# isdisjoint/issubset/issuperset
s1={1,2,3,4}
s2={3,4,5,6}

s1.isdisjoint(s2)

False

In [ ]:
#issubset
s1={1,2,3,4,5}
s2={3,4,5}
s2.issubset(s1)

True

In [ ]:
s1={1,2,3,4,5}
s2={3,4,5}
s2.issuperset(s1)

False

In [ ]:
#Copy
s1={1,2,3}
s2=s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

In [ ]:
# create frozenset
fs1=frozenset([1,2,3])
fs2=frozenset([3,4,5])
fs1|fs2

frozenset({1, 2, 3, 4, 5})

In [ ]:
# what works and what does not
# work -> all read function
# does't work m-> write operation

In [ ]:
#When to use -> read only
# 2D frozensets?yes
fs=frozenset([1,2,frozenset([2,3,4])])
fs

frozenset({1, 2, frozenset({2, 3, 4})})

In [ ]:
#Set comprehension
#example
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# Dictionary

In [ ]:
#Empty dictionary
d={}
d
#1D dictionary
d1={'name':'KAynat','geneder':'male'}
d1
#With mixed keys
d2={(1,2,3):1,'hello':'world'}
d2
# 2D dictionary
s={
    'name':'Kaynat',
    'college':'JMI',
    'sem':4,
    'subjects':{
        'dsa':50,
        'maths':67,
        'enlish':34
    }
}
s
# Using sequence and dict function
d4=dict([('name','Kaynat'),('age',32),(3,3)])
d4
# duplicate Keys
d5={'name':'kaynat','name':'rahul'}
d5
# Mutable Item as Keys
#d6={'name':'KAynat',[1,2,3]:2}
d6={'name':'KAynat',(1,2,3):2}
d6

{'name': 'KAynat', (1, 2, 3): 2}

In [ ]:
my_dict={'name':'Kaynat','age':26}
# []
my_dict['name']
# get
my_dict.get('age')

s['subjects']['dsa']

50

In [ ]:
# Adding key value pair
d4['gender']='male'
d4
d4['weight']=52
d4

s['subjects']['ds']=45
s

{'name': 'Kaynat',
 'college': 'JMI',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'enlish': 34, 'ds': 45}}

In [ ]:
# Remove Key value pair
d={'name': 'Kaynat', 'age': 32, 3: 3, 'gender': 'male', 'weight': 52}
#pop
#d.pop('name')
d
# popitem
#d.popitem()
d
#d.popitem()
d

# del
del d['name']
d
# clear
d.clear()
d

del s['subjects']['maths']
s

{'name': 'Kaynat',
 'college': 'JMI',
 'sem': 4,
 'subjects': {'dsa': 50, 'enlish': 34, 'ds': 45}}

In [ ]:
# Editing key - value pair
s['sem']=5
s
s['subjects']['dsa']=67
s

{'name': 'Kaynat',
 'college': 'JMI',
 'sem': 5,
 'subjects': {'dsa': 67, 'enlish': 34, 'ds': 45}}

# Dictionary Operation

*   Membership   
*   Iteration

In [ ]:
print(s)

'name' in s

{'name': 'Kaynat', 'college': 'JMI', 'sem': 5, 'subjects': {'dsa': 67, 'enlish': 34, 'ds': 45}}

True

In [ ]:
d = {'name':'Kaynat','gender':'male','age':18}

for i in d:
  print(i,d[i])

name Kaynat
gender male
age 18

In [ ]:
# Dictionary function

#len/sorted
len(d)
print(d)
sorted(d,reverse=True)
min(d)
max(d)

{'name': 'Kaynat', 'gender': 'male', 'age': 18}

'name'

In [ ]:
# Item / keys / values
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'Kaynat', 'gender': 'male', 'age': 18}
dict_items([('name', 'Kaynat'), ('gender', 'male'), ('age', 18)])
dict_keys(['name', 'gender', 'age'])
dict_values(['Kaynat', 'male', 18])

In [ ]:
# Update
d1={1:2,3:4,4:5}
d2={4:7,3:8}

d1.update(d2)
print(d1)

{1: 2, 3: 8, 4: 7}

# Dictionary Comprehension

In [ ]:
# Print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
distances ={'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [ ]:
# USing existing dict
distances ={'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.5 for (key,value) in distances.items()}

{'delhi': 500.0, 'mumbai': 1000.0, 'bangalore': 1500.0}

In [ ]:
# Using Zip

days =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C=[30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for(i,j)in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [ ]:
# using if condition
products = {'phone':10,'lapto':0,'charger':32,'tablet':0}

{key:value for (key , value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [ ]:
# Nested Comprehension

{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [ ]:
{
    2:{1:2,2:4,3:6,4:8},
    3:{1:3,2:6,3:9,4:12},
    4:{1:4,2:8,3:12,4:16},
}