<a href="https://colab.research.google.com/github/kaynatmozammil/Data-Science-/blob/main/06_session_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def is_even(num):
  """
  This function return if a given number is odd or even
  input -> Any valid integer
  create on - 16th Nov 2024

  """
  if type(num)==int:
    if num%2==0:
      return 'even'
    else:
      return 'odd'
  else:
    return 'Pagal hai kiya'

In [ ]:
#function
for i in range(1,11):
  x = is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [ ]:
print(type.__doc__)

type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type

In [ ]:
# 2 point of view
is_even('JI')

'Pagal hai kiya'

# Types of Argument
 1. Default
 2. Positional
 3. Keyword

In [ ]:
def power(a=1,b=1):
  return a**b

In [ ]:
power()

1

In [ ]:
# Positional Argument
power(2,3)

8

In [ ]:
# Keyword Argument
power(b=3,a=2)

8

In [ ]:
#args

def multiply(*args):
  product =1

  for i in args:
    product =product*i
  print(args)
  return product

In [ ]:
multiply(2,3,4,4,5,7,100)

(2, 3, 4, 4, 5, 7, 100)

336000

In [ ]:
#kwargs
def display(**kwargs):

  for(key,value)in kwargs.items():
    print(key,'->',value)

In [ ]:
display(india='delhi', srilanka='colombo',nepla='Kathmandu')

india -> delhi
srilanka -> colombo
nepla -> Kathmandu

In [ ]:
L=[1,2,3]
print(L.append(4))
print(L)

None
[1, 2, 3, 4]

In [ ]:
def f():
  def g():
   print('Inside function g')
  g()
  print("Inside function f")

In [ ]:
g()

NameError: name 'g' is not defined

# Functions are 1st class citizens

In [ ]:
#type and id
def square(num):
  return num**2

type(square)

a=2
id(a)
id(square)

132376995354592

In [ ]:
#reassign
x=square
id(x)
x(5)

25

In [ ]:
a=2
b=a
b

2

In [ ]:
# deleting a function
del square

In [ ]:
square(3)

NameError: name 'square' is not defined

In [ ]:
# storring
L=[1,2,3,4,square]
L[-1](4)

16

In [ ]:
s={square}
s

{<function __main__.square(num)>}

In [ ]:
#returning a function

In [ ]:
# function as argument

#***Lambda function***

In [ ]:
# x-> x^2
a=lambda x:x**2
a(3)

9

In [ ]:
a=lambda x,y:x+y
a(5,6)

11

In [ ]:
# check if a string has 'a'
a=lambda s:'a' in s
a('hello')

False

In [ ]:
# odd or even
a = lambda n:'even' if n%2==0 else 'odd'
a(2)

'even'

# higher order function

In [ ]:
# example
def square(x):
  return x**2

def cube(x):
  return x**3
# HOF
def transform(f,L):
  output =[]
  for i in L:
    output.append(f(i))
  print(output)

L=[1,2,3,4,5,6]

transform(lambda x:x**3,L)

[1, 8, 27, 64, 125, 216]

# MAp

In [ ]:
# square the items of list
list(map(lambda x:x**2,[1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36]

In [ ]:
# odd / even labelling of list items
L=[1,2,3,4,5]
list(map(lambda x:'even' if x%2==0 else 'odd',L))

['odd', 'even', 'odd', 'even', 'odd']

In [ ]:
# fetch names from a list of dict
users=[
    {
        'name':'Rahul',
        'age':46,
        'gender':'male'
    },
     {
        'name':'kaynat',
        'age':18,
        'gender':'male'
    },
     {
        'name':'adeeba',
        'age':21,
        'gender':'female'
    },
]
list(map(lambda users:users['age'],users))

[46, 18, 21]

# Filter

In [ ]:
# numbers greater than 5
L=[3,4,5,6,7,8]
list(filter(lambda x:x>=5,L))

[5, 6, 7, 8]

In [ ]:
# fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']
list (filter(lambda x:x.startswith('a'),fruits))

['apple']

# Reduce

In [ ]:
# sum of all item
import functools
functools.reduce(lambda x,y:x+y,[1,2,3,4,5,6])

21

In [ ]:
# find min
functools.reduce(lambda x,y: x if x>y else y , [23,11,45,9])

45