<a href="https://colab.research.google.com/github/kaynatmozammil/Data-Science-/blob/main/07_session_OOP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 L = [1,2,3]
 L.upper()

AttributeError: 'list' object has no attribute 'upper'

In [ ]:
s = 'hello'
s.append('K')

AttributeError: 'str' object has no attribute 'append'

In [ ]:
L = [1,2,3]
print(type(L))

<class 'list'>

In [ ]:
L.upper()
L.

AttributeError: 'list' object has no attribute 'upper'

In [ ]:
#syntax to create an object

#objectname = classname()

In [ ]:
# Object literal
L=[1,2,3]

In [ ]:
L = list()
L

[]

In [ ]:
s = str()
s

''

In [ ]:
# Pascal Case
# HelloWorld

In [ ]:
#Code - banking appilication

class Atm:

  # constructor(Special function )-> superpower ->
  def __init__(self):
    print(id(self))
    self.pin = ''
    self.balance = 0
    # print('mai to Execute ho gya')
    self.menu()
  def menu(self):
    user_input=input("""
    Hi! how can i help you?
    1. press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    """)

    if user_input =='1':
      #create pin
      self.create_pin()
    elif user_input == '2':
      #chnage pin
      self.change_pin()

    elif user_input == '3':
      #Check balance
      self.check_balance()
      pass
    elif user_input=='4':
      #withdraw
      self.withdraw()
      pass
    else:
      exit()

  def create_pin(self):
    user_pin = input('Enter your pin')
    self.pin = user_pin

    user_balance = int(input("Enter Balnce"))
    self.balance = user_balance

    print("Pin created successfully")
    self.menu()
  def change_pin(self):
    old_pin = input("Enter old pin")

    if old_pin == self.pin:
      # let him change the pin
      new_pin = input("Enter new pin")
      self.pin=new_pin
      print("Pin change successfully")
      self.menu()
    else:
      print("Nai karne dunga")
      self.menu()

  def check_balance(self):
    user_pin = input("Enter your pin")
    if user_pin == self.pin:
      print("Your balance is ", self.balance)
      self.menu()

    else:
      print("Chal nikal le yaha se")
      self.menu()

  def withdraw(self):
    user_pin = input("Enter the pin")

    if user_pin==self.pin:
      # Allow to withdraw

      amount = int(input("Enter the amount"))
      if amount<=self.balance:
        self.balance = self.balance - amount
        print('Withdrawl successfully BAlance is ',self.balance)

      else:
        print("Abe gareeb")
    else:
      print("Chor ho")
    self.menu()

In [ ]:
obj=Atm()

140640295572512

In [ ]:
id(obj)

140640295572512

In [ ]:
obj2=Atm()

140640295572224

In [ ]:
id(obj2)

140640295572224

In [ ]:
obj.

In [ ]:
print(type(obj))

<class '__main__.Atm'>

In [ ]:
obj2 = Atm()

    Hi! how can i help you?
    1. press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    1
Enter your pin1234
Enter Balnce10000
Pin created successfully

    Hi! how can i help you?
    1. press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    4
Enter the pin1234
Enter the amount12000
Abe gareeb

    Hi! how can i help you?
    1. press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    4
Enter the pin80000
Chor ho

    Hi! how can i help you?
    1. press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    4
Enter the pin1234
Enter the amount8000
Withdrawl successfully BAlance is  2000

    Hi! how can i help you?
    1. press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    j

In [ ]:
L =[1,2,3]
len(L) # function -> bcos it is outside the list class
L.append(4) # method -> bcos it is inside the list class

In [ ]:
from re import T
class Temp:

  def __init__(self):
    print('Hello')

obj = Temp()

Hello

In [ ]:
3/4*1/2

0.375

In [ ]:
class Fraction:

  # Parameterized constructor
  def __init__(self,x,y):
    self.num=x;
    self.den = y;

  def __str__(self):
    return '{}/{}'.format(self.num,self.den)

  def __add__(self,other):
    new_num= self.num*other.den+other.num*self.den
    new_den = self.den*other.den

    return '{}/{}'.format(new_num,new_den)

  def __sub__(self,other):
    new_num= self.num*other.den-other.num*self.den
    new_den = self.den*other.den

    return '{}/{}'.format(new_num,new_den)
  def __mul__(self,other):
    new_num= self.num*other.num
    new_den = self.den*other.den

    return '{}/{}'.format(new_num,new_den)

  def __truediv__(self,other):
    new_num= self.num*other.den
    new_den = self.den*other.num

    return '{}/{}'.format(new_num,new_den)

  def convert_to_decimal(self):
    return self.num/self.den

In [ ]:
fr1 = Fraction(3,4)
fr2 = Fraction(5,6)

In [ ]:
print(fr1)
# 3/4
print(fr2)

3/4
5/6

In [ ]:
fr1.convert_to_decimal()

0.75

In [ ]:
print(fr1+fr2)

38/24

In [ ]:
s1 ={1,2,3}
s2 = {4,5,6}

s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
print(fr1-fr2)

-2/24

In [ ]:
print(fr1*fr2)

15/24

In [ ]:
print(fr1/fr2)

18/20