<a href="https://colab.research.google.com/github/kaynatmozammil/Data-Science-/blob/main/upload_table_on_AWS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pymysql
from sqlalchemy import create_engine

In [24]:

!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.1)

In [25]:
mycursor = conn.cursor()

In [26]:
mycursor.execute('CREATE DATABASE dream11')
conn.commit()

DatabaseError: 1007 (HY000): Can't create database 'dream11'; database exists

In [12]:
# engine  = create_engine("mysql+pymyql://user:password@url/database")

In [27]:
import pandas as pd

In [28]:
delivery_df = pd.read_csv('/content/deliveries.csv')

In [31]:
captain_df = pd.read_csv('/content/Player_Match.csv')

In [32]:
player_df = pd.read_csv('/content/Player.csv')

In [38]:
engine  = create_engine("mysql+pymysql://kaynat:Kaynat73@database-dap.ch88s0ook5ph.eu-north-1.rds.amazonaws.com/dream11")

delivery_df.to_sql('delivery',con = engine)

260920

In [39]:
player_df.to_sql('player',con = engine)

523

In [40]:
captain_df.to_sql('player_caption',con = engine)

12694

In [ ]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
df = pd.read_csv('/content/flights_cleaned.csv')

In [ ]:
! pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 4.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
mycursor = conn.cursor()

In [ ]:
mycursor.execute('CREATE DATABASE flights')
conn.commit()

In [ ]:
engine = create_engine("mysql+pymysql://admin:911Pentagon@database-1.codzmntflx6t.ap-northeast-1.rds.amazonaws.com/flights")
# {root}:{password}@{url}/{database}
df.to_sql('flights', con = engine)

In [ ]:
orders = pd.read_csv('/content/List of Orders.csv')
order_details = pd.read_csv('/content/Order Details.csv')
targets = pd.read_csv('/content/Sales target.csv')

In [ ]:
import pandas as pd